@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  background: #DAE2F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D6A4A4, #DAE2F8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.container {
  margin-top: 75px;
  margin-left: 130px;
  margin-right: 180px;
  font-family: Poppins;
  background: #215f00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #215f00, #e4e4d9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #215f00, #e4e4d9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li {
  list-style-type: none;
  display: inline;
  float: left;
}

input[type="text"], input[type="password"], input[type="email"], .select-field__menu, .button {
  width: 75%;
  padding: 15px;
  margin: 15px 22px 10px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

fieldset {
  width: 370px;
  height: 330px;
  /*  margin: 0% 40%; */
  margin: 20px 20px 20px 20px;
  box-shadow: 0 0 25px #aaaaaa;
  border-radius: 15px;
}

.section_fav {
  border-style: groove;
  margin: 0% 50%;
  border-radius: 15px;
  width: 450px;
  height: 385px;
}

input[type="radio"] {
  display: inline-block;
  margin-right: -15px;
  margin-left: 30px;
}

#nt_mikey {
  margin-left: 59px;
}

.fav_Ninja {
  margin: 20px;
}

.section_signup {
  margin-top: 21%;
}

.section_personal {
  border-style: groove;
  border-radius: 15px;
  width: 450px;
}

#signup1 {
  margin-top: 60px;
  margin-left: -170px;
}

#signup2 {
  margin-top: 30px;
}

/*label {
  padding: 15px;
  margin: 15px 5px 22px 10px;
}*/
h1 {
  margin-left: 45%;
}

/*.button{
  font-family:Poppins;
  font-size:16px;
  color:blue;
  background-color:#B0DAB9;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 550px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
